@model PerdaViewModel

<div class="popup-form">

    <h1>Detalhes da perda</h1>


    <form asp-action="Perda" method="get">
        <h4>Informe os detalhes da colheita</h4>

        <div class="mb-3">
            <label for="campo2" class="form-label">Produto</label>
            <select asp-for="@Model.ProdutoPerda.Id" id="js-recupera-Lote" class="form-control border-success" onchange="buscarLotes()">
                @foreach(var p in Model.ProdutosView)
                {
                    <option value="@p.Id">@p.Nome</option>
                }
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="IdLoteUsado">Lote Utilizado</label>
            <select id="IdLoteUsado" class="form-control border-success" asp-for="LotePerda.IdCompra">
                <option value="0">Selecione um lote...</option>
                <!-- Opções serão preenchidas dinamicamente -->

            </select>
        </div>

        <div class="form-group mb-3">
            <label for="QuantidadeSaidaAtualizada">Quantidade de Saída</label>
            <input type="number" id="QuantidadeSaidaAtualizada" class="form-control border-success" asp-for="@Model.LotePerda.QuantidadeSaida" />
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary close-popup">Cancelar</button>
    </form>
</div>