@{
    ViewData["Title"] = "Autores do Projeto";
}

<div class="container">
    <h1>Autores do Projeto</h1>
    <p>Abaixo estão os membros do time e suas respectivas contribuições para o projeto:</p>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>RA</th>
                <th>Contribuição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João Vitor Pires Paes</td>
                <td>G5803H6</td>
                <td>Fez o banco de dados e ajudou no sistema de relatórios.</td>
            </tr>
            <tr>
                <td>João Pedro Gomes Brito</td>
                <td>G823FE1</td>
                <td>Desenvolveu o aplicativo.</td>
            </tr>
            <tr>
                <td>Rafael Ribeiro</td>
                <td>G79CJG8</td>
                <td>Documentou o projeto.</td>
            </tr>
            <tr>
                <td>Jean Pedro Silva Vencigueri</td>
                <td>G79FDA4</td>
                <td>Fez todo o código do projeto.</td>
            </tr>
            <tr>
                <td>Danilo Henrique Ribeiro</td>
                <td>G80DEE7</td>
                <td>Documentou o projeto.</td>
            </tr>
        </tbody>
    </table>
</div>
