@model IEnumerable<SuporteCalha>;
@{
    ViewData["Title"] = "Produção";
    int totalCount = 0;
}
<h1>Areas Produtivas</h1>
<a asp-controller="Producao" asp-action="CreateArea" class="btn btn-success">Nova área produtiva</a>
<hr/>

<div class="container shadow d-flex justify-content-evenly">
    @foreach (var p in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="~/Content/IconSuporte.jpg" alt="Alternate Text" />
                <h5>Area @p.Id</h5>
                <h6>Capacidade: @p.CapacidadeMudas Mudas</h6>
                <p>
                    Disponível: @if(p.ocupada == true)
                    {
                        <b>Não</b>
                    }
                    else
                    {
                        <b> Sim </b>
                    }
                    <div class="card-body d-flex justify-content-sm-evenly align-items-center">
                    <a asp-action="EditArea" asp-route-id="@p.Id" class="btn btn-warning">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
