@model Produto
@{
    ViewData["Title"] = "Criar Fornecedor";
    var errorMessage = TempData["ErrorMessage"];
}

<div class="container py-2 h-100 position-absolute top-50 start-50 translate-middle" >
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem; margin-bottom: 0;">
                <div class="row g-0">
                    <div class="col-md-4 col-lg-4 d-none d-md-block">
                        <img src="~/Content/produto.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%; width: 100%; overflow: hidden;"/>
                    </div>
                    <div class="col-md-8 col-lg-8 d-flex align-items-center">
                        <div class="card-body p-0 p-lg-3 text-black" style="margin: 0">
                            <form asp-controller="Produto" asp-action="Edit" method="post">

                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fa-solid fa-seedling" style="font-size: 5vh"></i>
                                    <span class="h1 fw-bold mb-0">Cadastro de fornecedor</span>
                                </div>

                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Preencha as informações abaixo</h5>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="formnome">Nome do produto</label>
                                            <input type="text" id="formnome" class="form-control form-control-lg" asp-for="Nome" />
                                            <span asp-validation-for="Nome" class="text-danger"></span>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="formcnpj">Temperatura para Plantio</label>
                                            <input type="text" id="formcnpj" class="form-control form-control-lg" asp-for="TemperaturaPlantio" />
                                            <span asp-validation-for="TemperaturaPlantio" class="text-danger"></span>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="formfone">Dias até a colheita</label>
                                            <input type="text" id="formfone" class="form-control form-control-lg" asp-for="DiasColheita" />
                                            <span asp-validation-for="DiasColheita" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="formUnidade">Tipo do produto</label>
                                            <select class="form-control form-control-lg" asp-for="TipoProduto">
                                                @foreach (ProdAssets asset in ViewBag.Tipos)
                                                {
                                                    <option value="@asset.Id">@asset.Nome</option>
                                                }
                                            </select>
                                            <span asp-validation-for="UnidadeCadastro" class="text-danger"></span>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="formUnidade">Unidade</label>
                                            <select class="form-control form-control-lg" asp-for="UnidadeCadastro">
                                                @foreach (ProdAssets asset in ViewBag.Unidade)
                                                {
                                                    <option value="@asset.Id">@asset.Nome</option>
                                                }
                                            </select>
                                            <span asp-validation-for="UnidadeCadastro" class="text-danger"></span>
                                        </div>

                                        <div class="form-outline mb-4 h-200">
                                            <label class="form-label" for="DataNascimento">Descrição</label>
                                            <input type="textarea" class="form-control form-control-lg" asp-for="Descricao" />
                                            <span asp-validation-for="Descricao" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="pt-1 mb-4">
                                    <input type="submit" class="btn btn-dark btn-lg btn-block" value="Cadastrar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
